* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(0, 0, 0, 0.912);
  color: white;
}
.home-page {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-around;
}
.head{
  background-color: rgba(38, 35, 35, 0.816);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding-left: 15px;
  padding-right: 15px;
}
#home {
  cursor: pointer;
  color: white;
  font-size: 2em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#search-bar {
  height: 35px;
  width: 250px;
  background-color: hwb(0 14% 85% / 0.974);
  border: 1px solid white;
  position: relative;
  border-radius: 10px;
  padding: 5px;
  font-size: larger;
  color: white;
}
#favorite {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  align-self: center;
  cursor: pointer;
}
#sign-in {
  font-size: 1.3em;
  align-self: center;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
#register {
  border-radius: 15px;
  width: 85px;
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}
.movies{
  display: flex;
  justify-content:start;
  align-items: center;
  gap: 3vw;
  flex-wrap: wrap;
  padding: 20px;
}
.buttons {
  display: flex;
  gap: 20px;
}
.movies div.poster {
  width: 200px;
  height: 400px;
  position: relative;
}
.poster{
  z-index: 1;
}
#poster-img {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}
#poster-img img {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
}

#search{
  position: relative;
}
#search-btn{
  position: absolute;
  right: 0;
  top: 15px;
  z-index: 1;
}
.poster-info {
  display: flex;

  /* flex-direction: column; */
}

.images {
  width: 100%;
}

#mid {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

#add-to-favorite {
  position: absolute;
  z-index: 2;
  top: 0;
}
.favorite-movies {
    display: flex;
    justify-content:start;
    align-items: center;
    gap: 3vw;
    flex-wrap: wrap;
    padding: 20px;
  }
  .favorite-movies div.favorite-poster {
    width: 200px;
    height: 400px;
    position: relative;
  }
  
  #favorite-poster-img {
      width: 100%;
      height: 300px;
      margin-bottom: 10px;
  }
  #favorite-poster-img img {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .favorite-poster-info {
    display: flex;
  }
  #remove-from-favorite {
    position: absolute;
    top: 0;
  }
 
  .add{
color: rgba(37, 35, 35, 0.996);
width: 50px;
height: 35px;

  }
  .remove{
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }

 