* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(0, 0, 0, 0.912);
  color: white;
}
.home-page {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-around;
}
.head{
  background-color: rgba(38, 35, 35, 0.816);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding-left: 15px;
  padding-right: 15px;
}
#home {
  cursor: pointer;
  color: white;
  font-size: 2em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow:4px 4px 10px gray ;
}
#home:hover{
  color: gray;
}
#search-bar {
  height: 35px;
  width: 400px;
  background-color: hwb(0 14% 85% / 0.974);
  border: 1px solid white;
  position: relative;
  border-radius: 10px;
  padding: 5px;
  font-size: larger;
  color: white;
}
#favorite {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 5px red;
  cursor: pointer;
  align-self: center;
}
#favorite:hover{
  color: gray;
}
#sign-in {
  font-size: 1.3em;
  align-self: center;
  color: white;
  cursor: pointer;
  text-shadow:4px 4px 5px gray ;
  font-weight: bold;
}
#sign-in:hover{
  color: gray;
}
#register {
  border-radius: 15px;
  width: 85px;
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  box-shadow: 1px 1px 5px gray;
  cursor: pointer;
}
.movies{
  display: flex;
  justify-content:start;
  align-items: center;
  gap: 3vw;
  flex-wrap: wrap;
  padding: 20px;
}
.buttons {
  display: flex;
  gap: 20px;
}
.movies div.poster {
  width: 200px;
  height: 400px;
  position: relative;
}
.poster{
  z-index: 1;
}
#poster-img {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}
#poster-img img {
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
}
#poster-img:hover{
  width: 225px;
  height: 350px;
}
.poster:hover{
  z-index:2 ;
}
#search{
  position: relative;
}
#search-btn{
  margin-right:10px ;
  position: absolute;
  right: 0;
  top: 15px;
  z-index: 1;
  cursor: pointer;
}
#search-btn:hover{
  color: gray;
}
.search-page{
  margin: 50px 0 0 25px;
}
.poster-info {
  display: flex;
}

.images {
  width: 100%;
}

#mid {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

#add-to-favorite {
  position: absolute;
  z-index: 2;
  top: 0;
}
.favorite-movies {
    display: flex;
    justify-content:start;
    align-items: center;
    gap: 3vw;
    flex-wrap: wrap;
    padding: 20px;
  }
  .favorite-movies div.favorite-poster {
    width: 200px;
    height: 400px;
    position: relative;
  }
  
  #favorite-poster-img {
      width: 100%;
      height: 300px;
      margin-bottom: 10px;
  }
  #favorite-poster-img img {
  border-radius: 15px;
  position: relative;
    width: 100%;
    height: 100%;
  }
  .favorite-poster-info {
    display: flex;
  }
  #favorite-poster-img:hover{
    width: 225px;
    height: 350px;
  }
  .favorite-poster:hover{
    z-index:2 ;
  }
  #remove-from-favorite {
    position: absolute;
    top: 0;
  }
 
  .add{
    cursor: pointer;
color: rgba(37, 35, 35, 0.996);
width: 50px;
height: 35px;

  }
  .add:hover{
    color: black;
  }
  .remove{
    cursor: pointer;
    color: rgb(179, 56, 56);
    width: 50px;
height: 25px;
  }
.about-movie{
  margin: 25px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 gap: 50px;
 
}
#pic img{
  border-radius: 15px;
  float: right;
}
#pic p{
  line-height: 1.5;
  justify-self: center;
  font-size:x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  align-items: center;
}
#genres{
  align-self:center ;
  width: 60px;
}
#genres:hover{
  box-shadow: 1px 1px 1px rgb(4, 4, 4);
}
.filter{
  align-self: center;
  height: 100%;
  display: flex;
}
option,select{
  color: white;
  background-color: rgb(9, 9, 9)
}
.page-change{
justify-content: center;
  display: flex;
  justify-self: center;
}
#filter-btn{
  background-color: black;
  color: white;
}
.page-btn button{
  width: 40px;
  height: 25px;
}
#left svg{
  height: 25px;
  width: 25px;
}
#right svg{
  height: 25px;
  width: 25px;
}
#left svg:hover{
  color: gray;
  }
  #right svg:hover{
    color: gray;
    }