* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(0, 0, 0, 0.912);
  color: white;
}
.home-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
}
.head {
  background-color: rgba(38, 35, 35, 0.816);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding-left: 15px;
  padding-right: 15px;
}
#home , #go-to-home ,#go-from-register-to-home {
  cursor: pointer;
  color: white;
  font-size: 3em;
  padding: 0 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow: 4px 4px 10px gray;
  align-self: center;
}
#home:hover {
  color: gray;
}
#search-bar {
  height: 35px;
  width: 300px;
  background-color: hwb(0 14% 85% / 0.974);
  border: 1px solid white;
  position: relative;
  border-radius: 10px;
  padding: 5px;
  font-size: larger;
  color: white;
}
#favorite {
  /* display: none; */
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 5px red;
  cursor: pointer;
  text-align: center;
}
#favorite:hover {
  color: gray;
}
#sign-in {
  font-size: 1.3em;
  align-self: center;
  color: white;
  cursor: pointer;
  text-shadow: 4px 4px 5px gray;
  font-weight: bold;
}
#sign-in:hover {
  color: gray;
}
#register {
  border-radius: 15px;
  width: 85px;
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  box-shadow: 1px 1px 5px gray;
  cursor: pointer;
}
.movies {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3vw;
  flex-wrap: wrap;
  padding: 20px;
}
.buttons {
  display: flex;
  gap: 20px;
}
.movies div.poster {
  width: 200px;
  height: 400px;
  position: relative;
}
.poster {
  z-index: 1;
}
#poster-img {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}
#poster-img img {
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
}
#poster-img:hover {
  width: 225px;
  height: 350px;
}
.poster:hover {
  z-index: 2;
}
#search {
  position: relative;
}
#search-btn {
  margin-right: 10px;
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 1;
  cursor: pointer;
}
#search-btn:hover {
  color: gray;
}
.search-page {
  color: white;
  margin: 50px 0 0 25px;
}
.poster-info {
  display: flex;
}

.images {
  width: 100%;
}

#mid {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

#add-to-favorite {
  position: absolute;
  z-index: 2;
  top: 0;
}
.favorite-movies {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3vw;
  flex-wrap: wrap;
  padding: 20px;
}
.favorite-movies div.favorite-poster {
  width: 200px;
  height: 400px;
  position: relative;
}

#favorite-poster-img {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}
#favorite-poster-img img {
  border-radius: 15px;
  position: relative;
  width: 100%;
  height: 100%;
}
.favorite-poster-info {
  display: flex;
}
#favorite-poster-img:hover {
  width: 225px;
  height: 350px;
}
.favorite-poster:hover {
  z-index: 2;
}
#remove-from-favorite {
  position: absolute;
  top: 0;
}

.add {
  cursor: pointer;
  color: rgba(37, 35, 35, 0.996);
  width: 50px;
  height: 35px;
}
.add:hover {
  color: black;
}
.remove {
  cursor: pointer;
  color: rgb(179, 56, 56);
  width: 50px;
  height: 25px;
}
.about-movie {
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}
#pic img {
  border-radius: 15px;
  float: right;
}
#pic p {
  line-height: 1.5;
  justify-self: center;
  font-size: x-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  align-items: center;
}
#genres {
  align-self: center;
  width: 60px;
  border-radius: 10px;
}
#genres:hover {
  box-shadow: 1px 1px 1px rgb(4, 4, 4);
}
.filter {
  margin:15px 15px ;
  align-self: end;
  height: 100%;
  display: flex;
}
option,
select {
  color: white;
  background-color: rgb(81, 81, 82);
}
.page-change {
  justify-content: center;
  display: flex;
  justify-self: center;
}
#filter-btn {
  color: white;
}
.page-btn button {
  border-radius: 5px;
  margin: 2px;
  width: 40px;
  height: 25px;
  background-color: #3f49a4bc;
}
.page-btn button:hover{
  background-color: #281a44;
}
#left svg {
  height: 25px;
  width: 25px;
}
#right svg {
  height: 25px;
  width: 25px;
}
#left svg:hover {
  color: gray;
}
#right svg:hover {
  color: gray;
}
.sign-in-page{
  display: flex;
  flex-direction: column;
  gap: 150px;
  width: 100vw;
	height: 100vh;
  background: #281a44;
	background: -webkit-linear-gradient(to right, #0d0323, #281a44);
	background: linear-gradient(to top, #0d0323, #281a44)
}
.sign-in-head{
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.dont-have-account{
  gap: 2px;
  display: flex;
  align-items: center;
}
.email-password{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
#input-email,#input-password{
  height: 40px;
  width: 300px;
  background-color: #0d032337;
  color: white;
  border: 1px solid white;
  padding:3px;
  border-radius: 10px;
}
#sign-in-btn{
  height: 40px;
  width: 300px;
  border-radius: 10px;
  color: white;
  font-size: large;
  background-color:  hsla(0,0%,100%,.2);
}
#welcom h1{
  font-family:Arial, Helvetica, sans-serif;
  font-weight:normal;
  font-size: 2em;
}
.register-page{
  display: flex;
  flex-direction: column;
  gap: 150px;
  width: 100vw;
	height: 100vh;
  background: #281a44;
	background: -webkit-linear-gradient(to right, #0d0323, #281a44);
	background: linear-gradient(to top, #0d0323, #281a44)
}
.register-head{
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.register-inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.have-account{
  gap: 2px;
  display: flex;
  align-items: center;
}
.name-email-password{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
#register-input-email,#register-input-password,#input-first-name,#birth-day,.gender-select{
  height: 40px;
  width: 300px;
  background-color: #0d032337;
  color: white;
  border: 1px solid white;
  padding:3px;
  border-radius: 10px;
}
#register-btn{
  height: 40px;
  width: 300px;
  border-radius: 10px;
  color: white;
  font-size: large;
  background-color:  hsla(0,0%,100%,.2);
}
#let-register h1{
  font-family:Arial, Helvetica, sans-serif;
  font-weight:normal;
  font-size: 2em;
}
.gender-select option{
  height: 50px;
}
.mode{
  display: flex;
  gap: 5px;
  height: 100%;
  align-self:center ;
}
#mode{
  border-radius: 10px;
}
#go-to-sign-in,#to-sign-in,#go-to-register,#to-register{
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 480px){
  .home-page,.favorite-page,.description-page{
    margin-left: 15%;
  }
}
@media  (max-width:800px){
  .head{
    padding-left: 7px;
    padding-right: 7px;
  }
  #home{
    font-size: 1.5em;
  }
  #search-bar{
    height: 25px;
    width: 120px;
 
}
#register{
  width: 65px;
  height: 25px;
  font-size: 0.75em;
}
#sign-in {
  font-size: 0.75em}
 
 #search-btn{
 top:5px;
 }
 #pic img{
  width:250px;
  height: 350px;
 }
 #favorite {
  font-size: 1em;
 }
 .buttons{
  gap:5px;
 }
 #mode-btn svg{
  width:16px;
   height:16px;
 }
 .register-page{
  gap:50px;
 }

}