*{
    margin: 0;
    padding: 0;
}
body{
    background-color:black;
    color: white;
}
.home-page{
    display:flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-around;
}
.head{
    background-color: rgba(38, 35, 35, 0.816);
    display:flex;
    justify-content: space-around;
  align-items: center;
  height: 100px;
    
}
#web-name{
    font-size:2em ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#search-bar{
    height: 35px;
    width: 250px;
    background-color:hwb(0 14% 85% / 0.974) ;
    border: 1px solid white;
    font-size: 1.2em;
}
#favorite{
    width: 75px;
    height: 50px;
    font-size: 1.3em;
    align-items:center;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#sign-in{
    width: 75px;
    height: 50px;
    font-size: 1.3em;
    align-items:center;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#register{
    border-radius: 15px;
    width: 85px;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
}
.movies{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap ;
    row-gap:inherit;
}
.buttons{
    display: flex;
    justify-items: space-between;
    gap: 20px;;
}
.movies div{
    width: 200px;
    height: 350px;
}
.movies div img{
        width: 100%;
        height: 100%; 
        object-fit: cover;
}
#search-bar{
    border-radius: 10px;
}
.poster-info{
    display: flex;
    /* flex-direction: column; */
}